$c-lightest: #ffffe8;
$c-lighter: #fae2c8;
$c-light: #f8cfbc;
$c-dark: #3d3430;
$c-darker: #22201d;
$c-darkest: #0f151a;
$c-accent: #3a6ddc;

$transition-default: all 0.15s ease;
$border-radius-default: 0.125rem;
