@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import 'variables';
@import 'transitions';
@import 'animations';

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

body {
  background-color: $c-lightest;
  color: $c-darkest;
  font-family: 'Manrope', sans-serif;
}

button,
a,
input {
  transition: $transition-default;
}

.navbar-button img {
  padding: 0.25em;
}

button {
  border-radius: $border-radius-default;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 0px $c-dark;
  }
  &:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px transparent;
  }
}

#navbar-togglable-list li a {
  width: 100%;
  padding: 0.75em;

  &:hover {
    background-color: $c-lighter;
  }
  &:active {
    background-color: $c-light;
  }
}

#main-blog-post {
  background-color: $c-lighter;
  color: $c-darkest;
  flex-direction: column;
  display: flex;
  padding: 1em;
  gap: 1em;

  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }

  blockquote {
    padding: 2em;
    font-style: italic;
    background-color: $c-light;
    border-radius: $border-radius-default;
    color: $c-dark;
    border-left: 4px solid $c-dark;
  }

  ul,
  ol {
    padding: 1em;
    padding-left: 2em;
    border-radius: $border-radius-default;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-left: 4px solid $c-light;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: numbered;
  }
}
