@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import 'variables';
@import 'transitions';
@import 'animations';

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  scrollbar-width: thin;
  scrollbar-color: $c-accent $c-lightest;
}
::-webkit-scrollbar {
  background-color: $c-lightest;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: $c-accent;
  border-radius: 100vw;
  border: solid 2px $c-lightest;
}
::webkit-scrollbar-track {
  background-color: $c-accent;
  margin-block: 0.5em;
}
::-webkit-scrollbar-corner {
  background-color: $c-accent;
}

ul {
  list-style: none;
}

body {
  background-color: $c-lightest;
  color: $c-darkest;
  font-family: 'Manrope', sans-serif;
}

button,
a,
input {
  transition: $transition-default;
}

.navbar-button img {
  padding: 0.25em;
}

.social-link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  a {
    border-radius: $border-radius-default;
    background-color: $c-accent;
    padding: 0.25em;
    &:active {
      opacity: 0.5;
    }
  }
  img {
    width: 1.5em;
    height: 1.5em;
    filter: invert(100%);
  }
}

button {
  border-radius: $border-radius-default;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 0px $c-dark;
  }
  &:active {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px transparent;
  }
}

#navbar-togglable-list li a {
  width: 100%;
  padding: 0.75em;

  &:hover {
    background-color: $c-lighter;
  }
  &:active {
    background-color: $c-light;
  }
}

#navbar-desktop li a {
  &:hover {
    background-color: $c-lighter;
  }
  &:active {
    background-color: $c-light;
  }
}

#main-blog-post {
  background-color: $c-lighter;
  color: $c-darkest;
  flex-direction: column;
  display: flex;
  padding: 1em;
  gap: 1em;

  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }

  blockquote {
    padding: 2em;
    font-style: italic;
    background-color: $c-light;
    border-radius: $border-radius-default;
    color: $c-dark;
    border-left: 4px solid $c-dark;
  }

  ul,
  ol {
    padding: 1em;
    padding-left: 2em;
    border-radius: $border-radius-default;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-left: 4px solid $c-light;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: numbered;
  }
}

#site-logo {
  background-color: $c-dark;
  border-radius: $border-radius-default;
}

#link-tiktok:hover {
  background-color: #ff004f;
}
#link-youtube:hover {
  background-color: #bb0000;
}
#link-instagram:hover {
  background-color: #517fa4;
}
#link-twitter:hover {
  background-color: #5daade;
}
#link-facebook:hover {
  background-color: #3b5999;
}
