---
export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/markdown/post*.md');
  let postArray = [];
  for (let i = 0; i < posts.length; i++) {
    const id = posts[i].frontmatter.id.toString();
    postArray.push({ params: { postId: id } });
  }
  return postArray;
}
const { postId } = Astro.params;

import Layout from '../../layouts/Layout.astro';
---

<Layout title={`A&B - Post ${postId}`}>
  <main></main>
</Layout>
