---
import Layout from '../layouts/Layout.astro';
import GridImage from '../components/GridImage.jsx';
import VideoEmbed from '../components/VideoEmbed.jsx';
import iconComment from '../content/svgs/chat-dots.svg';
import iconHeart from '../content/svgs/heart.svg';
import iconLogo from '../content/icons/logo.webp';
---

<Layout title='A&B - Home'>
  <header
    class='mt-12 mb-2 mx-auto flex flex-col gap-2 p-8 rounded-sm md:w-1/2 md:mx-auto'
  >
    <h1
      class='text-5xl text-center text-c-dark mb-12 flex flex-row justify-center gap-2 items-center bg-c-lighter max-w-max mx-auto rounded-sm'
    >
      <img id='site-logo' class='w-24 h-24' src={iconLogo} alt='A&B' />
      <p class='pr-3'>Blogs</p>
    </h1>
    <div>
      <h2 class='text-3xl text-c-dark'>Welcome!👋</h2>
      <p>
        A&B isn't just any social network. It's <b>your</b> social network. Your posts, your
        topics.
      </p>
    </div>
    <blockquote
      class='bg-c-lighter border-l-4 border-c-light text-c-dark rounded-sm p-4 flex flex-col gap-1'
    >
      <p>⚠️ Disclaimer:</p>
      <p>
        This website was created to mimic a blog site using Astro.js and Markdown. This
        site is static - the posts/features listed are <b>not real</b>.
      </p>
      <p class='italic'>
        If you cannot click an element, its features are not implemented.
      </p>
    </blockquote>
    <ul>
      <li>Use the links below to check out all content across A&B Blogs!</li>
      <li class='flex flex-col max-w-max'>
        <a href='/about' class='text-c-accent hover:underline'>About Us &gt;</a>
        <a href='/posts' class='text-c-accent hover:underline'>Blog Posts &gt;</a>
      </li>
    </ul>
  </header>
  <div class='flex flex-col m-4 md:w-1/2 md:mx-auto'>
    <p>Sort by:</p>
    <aside class='text-xl flex flex-row items-center gap-2'>
      <p class='rounded-sm border-b-2 border-c-accent pb-1'>Trending</p>
      <p class='rounded-sm border-b-2 border-c-light pb-1'>Most Popular</p>
      <p class='rounded-sm border-b-2 border-c-light pb-1'>More</p>
    </aside>
  </div>
  <main
    class='flex flex-col items-center p-4 md:mb-12 my-2 rounded-sm bg-c-lighter md:border-c-light md:border-l-4 md:p-8 md:w-3/4 md:mx-auto xl:w-1/2'
  >
    <article class=''>
      <div class='flex flex-col'>
        <aside>
          <div class='text-c-dark'>
            <p>Howl of a Dog</p>
            <p>July 8th, 2023</p>
          </div>
          <h3 class='text-4xl py-2'>Over 50 Dogs Rescued!</h3>
        </aside>
        <p>Watch the video below to learn about one of our rescues!</p>
        <aside
          id='embed-container'
          class='flex flex-col items-center justify-center my-4'
        >
          <VideoEmbed client:only />
        </aside>
        <h4 class='text-3xl mt-2 mb-1'>Rescue Photos 🐶</h4>
        <p class='mb-4'>
          All of the dog photos below were taken from the <b>50+</b> rescues we've achieved
          in the past <b>month</b>. They've made incredible transformations after the
          second chance they've been given!
        </p>
      </div>
      <div class='flex flex-col items-center justify-center'>
        <ul
          class='m-2 p-2 inline-grid grid-cols-2 md:grid-cols-3 gap-2 bg-c-light rounded-sm'
        >
          <li><GridImage client:load /></li>
          <li><GridImage client:load /></li>
          <li><GridImage client:load /></li>
          <li><GridImage client:load /></li>
          <li><GridImage client:load /></li>
          <li><GridImage client:load /></li>
          <li><GridImage client:load /></li>
          <li><GridImage client:load /></li>
          <li><GridImage client:load /></li>
          <li><GridImage client:load /></li>
        </ul>
      </div>
      <h4 class='text-3xl mt-2 mb-1'>Thank you! 🙏</h4>
      <p class='mb-4'>
        We appreciate you for taking a moment to learn about our rescues! If you'd like to
        stay up to date with us, you can find more information on our <a
          target='_blank'
          rel='noreferrer'
          href='https://www.youtube.com/@HowlOfADog'
          class='text-c-accent hover:underline'>YouTube channel</a
        >. We hope this post has brought you some joy today!
      </p>
      <aside class='flex flex-row justify-between'>
        <div class='flex flex-row gap-4'>
          <div class='flex flex-row gap-1 items-center'>
            <img class='w-4 h-4' src={iconHeart} alt='Likes:' />
            <p>84,735</p>
          </div>
          <div class='flex flex-row gap-1 items-center'>
            <img class='w-4 h-4' src={iconComment} alt='Comments:' />
            <p>371</p>
          </div>
        </div>
        <p class='text-c-dark'>July 8th, 2023</p>
      </aside>
    </article>
  </main>
</Layout>
