---
import Layout from '../layouts/Layout.astro';
import GridImage from '../components/GridImage.jsx';
import VideoEmbed from '../components/VideoEmbed.jsx';
---

<Layout title='A&B - Home'>
  <header class='my-12 mx-auto flex flex-col gap-2 p-8 rounded-sm'>
    <h1 class='text-4xl text-center text-c-dark mb-12'>A&B Blogs</h1>
    <div>
      <p class='text-xl font-bold text-c-dark'>👋 Welcome!</p>
      <p>
        A&B isn't just any social network. It's <b>your</b> social network. Your posts, your
        topics.
      </p>
    </div>
    <blockquote
      class='bg-c-light border-l-4 border-c-dark text-c-dark rounded-sm p-4 flex flex-col gap-1'
    >
      <p class='font-bold'>Disclaimer:</p>
      <p>
        This website was created to mimic a blog site using Astro.js and Markdown. This
        site is static - the posts/features listed are <b>not real</b>.
      </p>
      <p class='italic'>
        If you cannot click an element, its features are not implemented.
      </p>
    </blockquote>
    <ul>
      <li>Use the links below to check out all content across A&B Blogs!</li>
      <li class='flex flex-col max-w-max'>
        <a href='/about' class='text-c-accent hover:underline'>&gt; About Us</a>
        <a href='/posts' class='text-c-accent hover:underline'>&gt; Blog Posts</a>
      </li>
    </ul>
  </header>
  <div class='flex flex-col m-4'>
    <p>Sort by:</p>
    <aside class='text-xl flex flex-row items-center gap-2'>
      <p class='rounded-sm border-b-2 border-c-accent pb-1'>Trending</p>
      <p class='rounded-sm border-b-2 border-c-light pb-1'>Most Popular</p>
      <p class='rounded-sm border-b-2 border-c-light pb-1'>More</p>
    </aside>
  </div>
  <main class='flex flex-col items-center p-4 m-4 rounded-sm bg-c-lighter'>
    <article>
      <div class='flex flex-col gap-2'>
        <div>
          <p class='text-c-dark'>Howl of a Dog</p>
          <div class='flex flex-wrap gap-2 items-end'>
            <h4 class='text-xl'>Over 50 Dogs Rescued!</h4>
            <p class='text-sm text-c-dark relative bottom-0.5'>07/07/2023</p>
          </div>
        </div>
        <VideoEmbed client:only />
        <p class='border-l-4 p-4 rounded-sm border-c-light'>
          You can find a selection of heartwarming dog rescue stories represented by the
          captivating images below. Each of these images holds a significant meaning,
          representing the incredible transformations and second changes these dogs have
          been given.
        </p>
      </div>
      <ul class='m-4 inline-grid grid-cols-2 md:grid-cols-3 gap-2'>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
      </ul>
    </article>
  </main>
</Layout>
