---
import Layout from '../layouts/Layout.astro';
import GridImage from '../components/GridImage.jsx';
import VideoEmbed from '../components/VideoEmbed.jsx';
---

<Layout title='A&B - Home'>
  <header class='my-12 w-3/4 mx-auto flex flex-col gap-4 bg-c-lighter p-8 rounded-md'>
    <h1 class='text-4xl text-center'><b>A&B</b> Blogs</h1>
    <p>
      Welcome to A&B Blogs! You can check out a plethora of <a
        class='text-c-accent hover:underline'
        href='/posts'>blog posts</a
      > from our extensive user base, and learn more <a
        class='text-c-accent hover:underline'
        href='/about'>about us</a
      >.
    </p>
  </header>
  <aside class='text-xl font-bold flex flex-row items-center justify-center gap-1'>
    <p class='bg-c-lighter rounded-sm border-b-2 border-c-accent px-4 py-1'>Today</p>
    <p class='bg-c-lighter rounded-sm border-b-2 border-c-light px-4 py-1'>Trending</p>
    <p class='bg-c-lighter rounded-sm border-b-2 border-c-light px-4 py-1'>More</p>
  </aside>
  <main class='flex flex-col items-center p-4 m-4 rounded-md bg-c-lighter'>
    <article>
      <div class='flex flex-col gap-2'>
        <div>
          <p class='text-c-dark'>Howl of a Dog</p>
          <div class='flex flex-wrap gap-2 items-end'>
            <h4 class='text-xl'>Over 50 Dogs Rescued!</h4>
            <p class='text-sm text-c-dark relative bottom-0.5'>07/07/2023</p>
          </div>
        </div>
        <VideoEmbed client:only />
        <p class='border-l-4 p-4 rounded-md border-c-light'>
          You can find a selection of heartwarming dog rescue stories represented by the
          captivating images below. Each of these images holds a significant meaning,
          representing the incredible transformations and second changes these dogs have
          been given.
        </p>
      </div>
      <ul class='m-4 inline-grid grid-cols-2 md:grid-cols-3 gap-2'>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
        <li><GridImage client:load /></li>
      </ul>
    </article>
  </main>
</Layout>
