<footer class='p-8 flex flex-col gap-4 bg-c-darkest text-c-lightest'>
  <div>
    <p>&copy; A&B | 2023</p>
    <p>
      A very <b>real</b> company with a very <b>real</b> blog site.
    </p>
  </div>
  <aside
    class='italic bg-c-darker p-4 rounded-md border-l-4 border-l-c-dark flex flex-col gap-4'
  >
    <p class='opacity-90'>
      This is not a real site. This is a static site, developed to mimic a blog platform
      and practice design concepts with Astro.js and Markdown.
    </p>
    <div>
      <p>You can view the GitHub repository with the link below.</p>
      <a
        class='text-c-accent hover:underline'
        target='_blank'
        rel='noreferrer'
        href='https://github.com/quev-dev/bfe-assessment-astro'>bfe-assessment-astro</a
      >
    </div>
  </aside>
</footer>
