<footer class='p-4'>
  <div>
    <p>&copy; BfE Technologies</p>
  </div>
  <div>
    <p>You can view the GitHub repository with the link below.</p>
    <a href='https://github.com/quev-dev/bfe-assessment-astro'>bfe-assessment-astro</a>
  </div>
</footer>
