<footer class='p-4'>
  <div>
    <p>&copy; Astro Blog</p>
  </div>
  <div>
    <p>You can view the GitHub repository with the link below.</p>
    <a
      target='_blank'
      rel='noreferrer'
      href='https://github.com/quev-dev/bfe-assessment-astro'>bfe-assessment-astro</a
    >
  </div>
</footer>
